.header_search {
    position: relative;
    width: 180px;
    height: 30px;
}

.header_search_cont {
    position: absolute;
    right: 0;
 
    display: flex;
    background: var(--mainPageBG);
    border-radius: 25px;
}

.header_search_input {
    background: var(--mainPageBG);
    border-radius: 25px 0 0 25px;
    padding: 5px 16px;
    width: 100%;
    border: none;
    color: var(--mainTCB);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    transition: .4s;
}

.header_search_input:focus  {
    width: 700px;
}

.header_search_svg {
    padding: 5px 16px;
    align-self: center;
}
