.button {
    border: 1px solid rgba(0, 0, 0, 0);
    background: none;
    padding: 10px;
    user-select: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: .2s;
}

.button {
    background: none;
    color: var(--mainTCB);
    border: 1px solid var(--mainTCB);
}
.button:hover {
    background: var(--mainTCB);
    color: var(--mainTCW);
}

.reverse {
    border: 1px solid var(--mainTCW);
    background: var(--mainTCB);
    color: var(--mainTCW);
}

.reverse:hover {
    border: 1px solid var(--mainTCB);
    background: var(--mainTCW);
    color: var(--mainTCB);
}